:root {
    --primary-color: #ff4500;
    --secondary-color: #1a1a1a;
    --accent-color: #f0f0f0;
    --text-color: #fff;
    --font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--secondary-color);
    background-size: cover;
    font-family: var(--font-family);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    scroll-behavior: smooth;
}

.sudokuContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    border: 2px solid var(--primary-color);
    padding: 30px;
    background-color: rgba(26, 26, 26, 0.9);
    width: 500px;
    height: 700px;
    align-items: center;
    max-width: 80%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    animation: fadeInUp 1s ease-in-out;
}

.sudokuGrid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 1px;
    margin: 10px;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
}

.custom-dropdown {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}

.selected-option {
    border-radius: 12px;
    text-align: center;
    background: var(--primary-color);
    color: var(--text-color);
    padding: 12px 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    transition: background 0.3s, box-shadow 0.3s;
}

.selected-option::after {
    content: '\25BC';
    color: var(--text-color);
    margin-left: 10px;
}

.dropdown-options {
    overflow: hidden;
    max-height: 0;
    background: var(--primary-color);
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: max-height 0.3s ease-out;
}

.dropdown-options.show {
    max-height: 200px;
}

.option {
    background: var(--primary-color);
    color: var(--text-color);
    padding: 12px 16px;
    cursor: pointer;
    border: none;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
}

.option:hover {
    background: var(--primary-color);
    color: var(--text-color);
}

.btn {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 12px 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.btn:hover {
    background-color: #e03e00;
}

#checkBtn {
    display: none;
}

#resetBtn {
    display: none;
}

.sudokuButtons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#time {
    opacity: 0;
    font-size: 24px;
    color: var(--text-color);
}

#score {
    display: none;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .sudokuContainer {
        width: 90%;
        height: auto;
    }
}
