<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <form id="registerForm" class="form active">
                <h2>Register</h2>
                <div class="input-group">
                    <input type="text" id="usernameRegister" placeholder="Username" required>
                </div>
                <div class="input-group">
                    <input type="email" id="emailRegister" placeholder="Email" required>
                </div>
                <div class="input-group">
                    <input type="password" id="passwordRegister" placeholder="Password" required>
                </div>
                <button type="submit" class="btn">Register</button>
                <p class="toggle-form">Already have an account? <a href="/">Login</a></p>
            </form>
        </div>
    </div>
</body>
<script src="/js/registerJs.js"></script>
</html>
